@model BusinessObject.Sub_Model.AccessToken
@{
    ViewBag.Title = "Login";
  
}
<h1>Welcome to the Home Page!</h1>
<p>
@Html.DisplayFor(model=>Model.access_token)
</p>
<a href=@Url.Action("Logout","Spotify")>Log Out</a>